<h1>Posts</h1>

<%= form_with(model: @post, local: true) do |f|%>

  <div>
    <%= f.label 'image' %>
    <%= f.text_field :image %>
  </div>

  <div>
    <%= f.label 'content' %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit 'nuevo post'%>
    </div>
<% end %>



<% if @posts.length < 1 %>
    <h3>no hay posts</h3>
  <% else %>

    <% @posts.each_slice(3) do |post_3|  %>
    <div class="card-deck my-5">
        <div class="row w-50">
                <%post_3.each do |post|  %>
                    <div class="col-md-4">
                        <div class="card">
                            <%= image_tag post.image, :class=>"card-img-top" %>
                            <div class="card-body">
                              
                                <p class="card-text"><%= post.content %></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
                            </div>
                        </div>
                    </div>
            <%end %>
        </div>
    </div>
<%end %>
<% end %>


  